html{
    background-color: lightblue;
    margin-bottom: 70px;
}
.container{
    font-weight: bold;
    font-family: sans-serif;
    font-display: auto;
    font-size: 30px;
    text-align: center;
}
.container-2{
    font-size: 20px;
    text-align: center;
}
.footer-text{
    font-size: 25px;
    font-style: oblique;
    font-weight: lighter;
    text-align: center;
}
.sidebar {
    text-align: relative;
    left: 100%;
    top: 10%;
    border-style: none;
    text-decoration: solid;
    text-size-adjust: 8px;
    text-decoration-color: azure;
  }
 
  .hero-content{
    width: 20%
   
  }
  .footer{
    max-width: 200px;
    text-align: relative;
    left: 100%;
  }
  .footer ul img{
    width: 420px;
    margin-inline: 40px;
    border-radius: 100px;
    position: relative;
    left: 185%;

  }
  .hero-content img{
    width: 420px;
    position: relative;
    left: 165%;
  }